section(class="w-full bg-gray-200 flex items-center justify-between px-4 py-2 border-b-2 border-gray-300 text-sm")
  .flex.items-center.gap-4
    p Export
    p Import
  .flex.items-center.gap-4
    button(class="px-4 py-2 bg-blue-500 text-white rounded") Refresh
    .flex.items-center.gap-1
      img(src="/images/avatar.png", alt="avatar", class="w-8 h-8 rounded-full")
      span Admin