extends _layout

block main
  +breadCrump([{name:"Home", link:"/"}, {name:"About", link:"/about"}])
  h2.title ABOUT THE JOURNAL

  h3.title-red REVIEW POLICY
  p.base-text The Committee on Publication Ethics' (COPE) (
    a(href="http://publicationethics.org", class="text-blue-500") http://publicationethics.org
    |) Code of Conduct and best Practice Guidelines are followed by the International Journal of Management, Engineering and Social Sciences. We make an effort to make peer review fair, impartial, and speedy. Double-blind peer review is a method used to make sure that only high-quality submissions are published. It has received the endorsement of all prominent scientific journals as an impartial way to ensure excellence in scholarly publishing. All incoming submissions are peer evaluated in accordance with the International Journal of Management, Engineering and Social Sciences, Peer Review Policy because our editorial board members are essential to upholding the high standards of the Journal.

  h3.title-red OPEN ACCESS POLICY
  p.base-text International Journal of Management, Engineering and Social Sciences is open for all readers. The ‘International Journal of Management, Engineering and Social Sciences’ publishes only fully open access publications that are immediately free to read, download, and distribute. The author (s) and copyright holder (s) grant to all users a free, irrevocable, worldwide, perpetual right of access to, and a license to copy, use, distribute, transmit, and publicly display the work, as well as the right to create and distribute derivative works in any digital medium for any lawful purpose, with due credit given to the author (s), as well as the right to print a small number of copies for their personal use only and not for resale. Open access policy enhances the visibility of the published papers and focused on citations.

  h3.title-red PUBLICATION ETHICS
  p.base-text Publication ethics and publication malpractice statement is mainly based on the Code of Conduct and Best-Practice Guidelines for Journal Editors.

  h4.title-blue Editor’s responsibilities:

  ul(class="list-disc list-inside")
    li
      strong Publication Decisions
      p.base-text The responsibility for determining which manuscripts are published in the journal rests with the editor. Manuscripts will be evaluated based on their significance, originality, clarity, validity, and relevance to the journal’s scope, without consideration of the authors' race, gender, sexual orientation, religious belief, ethnic origin, citizenship, or political views. Additionally, the editor will consider compliance with current legal standards regarding libel, copyright infringement, and plagiarism.
    li
      strong Confidentiality
      p.base-text The editor and all editorial staff are required to maintain confidentiality concerning submitted manuscripts. Information about a manuscript should only be shared with the corresponding author, reviewers, potential reviewers, other editorial advisors, and the publisher, as necessary.
    li
      strong Disclosure and Conflicts of Interest
      p.base-text Unpublished content revealed in a submitted manuscript will not be utilized by the editor or editorial board members for their own research without the explicit written consent of the author.

  h3.title-red Reviewers' Responsibilities
  ul(class="list-disc list-inside")
    li
      em Contribution to Editorial Decisions
      p.base-text.text-sm The peer review process plays a critical role in assisting the editor and the editorial board in making informed editorial decisions. It also provides authors with valuable feedback to enhance the quality of their manuscript.
    li
      em Promptness
      p.base-text.text-sm Reviewers who feel inadequately qualified to assess a manuscript or who are unable to complete the review in a timely manner should promptly inform the editor and withdraw from the review process.
    li
      em Confidentiality
      p.base-text.text-sm Manuscripts under review must be treated as confidential documents. Reviewers are prohibited from disclosing or discussing the content of the manuscript with others, except as authorized by the editor.
    li
      em Standards of Objectivity
      p.base-text.text-sm Reviews must be conducted with impartiality. Personal critique of the author is considered inappropriate. Reviewers should present their evaluations clearly and support their opinions with well-reasoned arguments.
    li
      em Acknowledgment of Sources
      p.base-text.text-sm Reviewers are responsible for identifying instances where relevant prior work has not been cited in the manuscript. They should ensure that any observations or arguments derived from other sources are properly referenced. Additionally, reviewers must inform the editor of any significant similarities or overlaps between the manuscript and other published works that they are aware of.
    li
      em Disclosure and Conflict of Interest
      p.base-text.text-sm Reviewers must maintain the confidentiality of any privileged information or ideas obtained during the peer review process and must not use this information for personal gain. They should also recuse themselves from reviewing manuscripts where they have conflicts of interest due to competitive, collaborative, or other relationships with the authors, institutions, or entities involved.

  h4.title Authors' Duties

  em Reporting Standards
  p.base-text Authors of original research are required to present a truthful and comprehensive account of their research, including an objective discussion of its significance. The data underlying the study should be accurately represented within the manuscript. Sufficient detail and references must be provided to enable replication of the work by others. Fraudulent or intentionally misleading statements are considered unethical and are not acceptable.

  em Data Access and Retention
  p.base-text Authors may be requested to provide the raw data underlying their study along with the manuscript for editorial review. Authors should be prepared to make this data publicly available if feasible. Additionally, authors must ensure that such data remains accessible to other qualified researchers for a minimum of ten years following publication, preferably through an institutional or subject-based data repository or other appropriate data center, provided that participant confidentiality is maintained and legal constraints on proprietary data are respected.
  p.base-text Potential reviewers suggested by the authors during submission process may also be considered. Reviewers should not have published with any of the co-authors during the past five years and should not currently work or collaborate with any of the institutions of the co-authors of the submitted manuscript.

  em Originality, Plagiarism, and Acknowledgment of Sources
  p.base-text Authors must ensure that their submissions are entirely original and should appropriately cite or quote the work and/or words of others. Influential prior publications that have shaped the research should also be acknowledged and cited correctly.

  em Multiple, Redundant, or Concurrent Publication
  p.base-text Generally, manuscripts presenting essentially the same research should not be published in more than one journal. Submitting the same manuscript to multiple journals simultaneously constitutes unethical publishing behavior and is unacceptable. Manuscripts previously published as copyrighted material elsewhere cannot be resubmitted. Additionally, manuscripts under review should not be submitted to other publications. By submitting a manuscript, authors retain the rights to their published work and permit its use under a CC-BY-NC-ND license.

  em Authorship of the Paper
  p.base-text Authorship should be limited to individuals who have made substantial contributions to the conception, design, execution, or interpretation of the reported research. All individuals who have made significant contributions should be listed as co-authors. The corresponding author is responsible for ensuring that all contributing co-authors are included in the author list and that no individuals who did not contribute to the research are listed. The corresponding author must also confirm that all co-authors have approved the final version of the manuscript and consent to its submission for publication.

  em Disclosure and Conflicts of Interest
  p.base-text All authors are required to disclose any financial or substantive conflicts of interest that may be perceived to influence the results or interpretation of their manuscript. Additionally, all sources of financial support for the research must be disclosed.


  em Fundamental Errors in Published Works
  p.base-text If an author identifies a significant error or inaccuracy in their own published work, it is their responsibility to promptly inform the journal editor or publisher. The author should cooperate with the editor to retract or correct the publication through an erratum.

  h3.title PLAGIARISM POLICY
  p.base-text International Journal of Management, Engineering and Social Sciences is a publication that strictly prohibits plagiarism. All submissions will be screened by the Turnitin Software. If the content of the submitted article is found to be more than 15% plagiarized, it is sent to the authors with the goal of decreasing the plagiarized content to less than 15%.

  h4.title-red Manuscripts will be rejected if-
  ul(class="list-disc list-inside")
    li Manuscripts that contain more than 15% plagiarism.
    li Submitted manuscripts, which are found as republished manuscripts.
    li Submitted manuscripts, which are translated manuscripts from another language.

  h3.title CONFLICT OF INTEREST POLICY
  p.base-text Authors and representatives are asked to report any conflicts of interest that may arise even after the paper has been published to 
    a(href="mailto:editor.jcrp@gmail.com", class="text-blue-500") editor.jcrp@gmail.com
  p.base-text The specified content will be subjected to an in-depth review to find out if the claims are true, which may require a maximum of 7 working days. If the potential conflict of interest is confirmed during the investigations, the manuscript will be immediately removed from the website only. We are not responsible to delete published papers/ contents from the repositories and abstracting/indexing services..

  h3.title ARTICLE PROCESSING CHARGE (APC)
  p.base-text Submission Charge: Nill
  p.base-text Publication Charge: Nill
  p.base-text Article Processing Charge:

  ul(class="list-disc list-inside")
    li INR 1000 for Indian Authors
    li For Overseas Authors: $50/-

  h3.title Withdrawals and Refund Policy
  p.base-text The International Journal of Management, Engineering and Social Sciences (IJMESS) is committed to providing a transparent and fair process regarding manuscript submissions, withdrawals, and refunds. The following policy outlines the procedures and conditions for withdrawing a manuscript and requesting a refund.

  ol(class="list-decimal list-inside")
    li
      strong Withdrawal of Manuscript
      p.base-text Withdrawal Request: Authors who wish to withdraw a manuscript from consideration must submit a written request to the editorial office. This request should be made via email or through the journal’s submission system, clearly stating the intention to withdraw the manuscript and providing relevant details such as the manuscript ID and title, signature of all author in ink only.
      p.base-text Reasons for Withdrawal: Authors are encouraged to provide a valid reason for the withdrawal, although it is not mandatory.
   
    li
      strong Refund Policy
      p.base-text Article Processing Fees: IJMESS may charge Article Processing fee. If a manuscript is withdrawn before the review process begins, or if it is withdrawn due to editorial error, a full refund of the submission fee will be issued.
      p.base-text Post-Submission Withdrawals: If a manuscript is withdrawn after the review process has started or once the review has been completed, 50% refund of the Article Processing fee or any associated costs will be issued.
      p.base-text Acceptance Stage: No refunds will be issued for manuscripts that have been accepted for publication, regardless of the stage of the publication process.
      p.base-text Final Publication Stage: Upon the final Publication of the article, only 25% will be issued on the author’s request within 10 days.

    li
      strong Refund Requests
      p.base-text Request Procedure: To request a refund, authors should contact the editorial office with a formal request, including the manuscript ID, title, and reason for the refund request. The request should be made in writing, preferably via email.
      p.base-text Processing Time: Refund requests will be reviewed and processed in a timely manner. The processing time may vary depending on the circumstances and the stage of the manuscript processing.
  
    li
      strong Editorial Decisions
      p.base-text Final Decisions: The decision to approve a withdrawal request or process a refund is at the discretion of the editorial office. The editorial office will make decisions based on the specific circumstances and in accordance with the journal's policies.


  











