extends _layout

block main
  +breadCrump([{name:"Home", link:"/"}, {name:"Advertisement Policy", link:"/advertisement-policy"}])
  h2.title Advertisment Policy
  p.base-text Journal of Applied Pharmaceutical Research (IJCRP) does not accept advertising on its official website, https://www.japtronline.com. However, we accept advertisements on other official IJCRP (social media) pages. IJCRP neither endorses the advertised company or product nor allows advertising to affect editorial decisions or content.

  h4.title Advertising Acceptance
  p.base-text IJCRP reserves the right to refuse any advertisement incompatible with our mission. IJCRP will adhere to all ethical and commonly accepted advertising practices and ensure that its practices conform to its Vision and mission. The following types of advertisements are prohibited

  ul(class="list-disc list-outside ml-5")
    li Political and religious advertisements
    li Advertisements that claim to offer a miracle cure or method
    li Advertisements for alcohol, tobacco or any related product(s)
    li Advertisements for weapons, firearms, ammunition and fireworks
    li Advertisements for pornography and related materials and services
    li Advertisements that make unsubstantiated health claims for the products advertised

  h4.title Advertising Policy
  ul(class="list-disc list-outside ml-5")
    li Advertisements will always be allowed only after approval of IJCRP/
    li Advertisements, icons, and logos must be distinguishable from editorial content.
    li Advertisers may be required to submit supporting documentation to substantiate claims.
    li Advertisements may not imply endorsement by the IJCRP
    li Neither advertisers nor their agents may collect personal information from any user viewing the IJCRP website except with the user's knowledge and permission and only after giving the user substantive information about the uses to which the information will be put.
  
  p.base-text Advertising revenue is used to support Authors with limited funds to pay Article Processing Charges (APC).
  p.base-text For questions about online advertising on the IJCRP, contact the sales team at +917987014131 or editor.IJCRP@gmail.com

