extends _layout

block main
  +breadCrump([{name:"Home", link:"/"}, {name:"Aim and Scope", link:"/aim-and-scope"}])
  h2.title AIM AND SCOPE
  p.base-text The International Journal of Management, Engineering and Social Sciences (IJMESS) is committed to advancing scholarly understanding and fostering multidisciplinary research across the all discipline of management, engineering, and social sciences. The journal covers a broad range of topics including but not limited to:

  ul.flex.flex-col.gap-6
    li
      strong Management: 
      | Business Administration, Retail, Event, Corporate, Advertising, Communication, Supply Chain, Jurisprudence, Pedagogy, Library Science, Business Studies, Finance, Commerce, Economics, Human Resource, Hotel Management, Hospitality, Finance, Accounting, Operational, Information Management, Marketing, Sales, Microeconomics, Business Law, Organizational Behaviour, Organizational Strategy.
    li
      strong Engineering: 
      | Physics, Chemistry, Chemical Engineering, Petroleum Engineering, Mathematics, Material Engineering, Nanoscience, Civil, Mechanical, Electronics, Computer Science, Aerospace, Earth Science, Marine Engineering, Industrial Engineering, Agricultural Engineering, Biotechnology, Biomedical Engineering, Mobile Computing, Artificial Intelligence, Information Technology, Data Science, Data Structure.
    li
      strong Social Sciences: 
      | Anthropology, Archaeology, History, Geography, Geology, Law and Politics, Governance, Philosophy, Sociology, Performing Arts, Visual Arts, Civics, Demography, Journalism, Media Studies, Home Science, Education, Special Education, Physical Education, Language, Linguistic, Literature, Yogic Studies, Sports Studies, Rehabilitation, Art & Development Studies.

  ul.mt-6
    li OPEN ACCESS Policy
    li Publication ethics
    li Review Policy
    li Privacy Policy
    li Publication FEE
    li Plagiarism Policy
  
  h4.title-red Archive and Preservation Policy

  ul.flex.flex-col.gap-6
    li 
      strong Archiving services
      br
      | Journal articles are archived through ZENODO and BASE which is a not-for-profit digital Policies other scholarly content and ensures its accessibility to readers and authors

    li 
      strong Repository Policy:
      br
      | Journal allows authors to deposit the published version of their article in their institutional or any other repository of their choice without embargo.

    li 
      strong Data Sharing and Reproducibility Policy:
      br
      | Journal is committed to promoting transparency and reproducibility in scientific research. To that end, we have established the following policies on data sharing and reproducibility:

    li 
      strong Data Sharing:
      | We require that authors make their data openly available and accessible to readers upon publication, either by depositing it in a recognized public repository or by including it as supplementary material to the article.
      br
      | We encourage authors to use open data formats and to provide detailed metadata to enable data reuse and interpretation by other researchers.
      br
      | We require that authors provide a data availability statement in the article, indicating where the data can be accessed and any restrictions or limitations on data sharing.

    li
      strong Reproducibility:
      | We encourage authors to provide detailed descriptions of the methods used in their research and to make their code openly available to enable the reproducibility of their results.
      br
      | We may require that authors provide access to raw data and analysis code upon request from readers or reviewers.
      br
      | We may consider publishing replication studies or negative results to promote transparency and reproducibility in scientific research.
      br
      | We believe that these policies will help promote open and reproducible science, which benefits the scientific community and society as a whole.

    li
      strong Policy on Intellectual Property
      | Journal is recognizing the importance of intellectual property and respects the rights of authors, reviewers, and readers. By submitting a manuscript to the Journal, authors confirm that their submissions are original work and do not infringe upon the intellectual property rights of any other person or entity. The Journal requires that authors grant the Journal the right to publish their work in any format and distribute it to any third party for non-commercial purposes. The authors retain the copyright to their work, and the Journal requires that any use of the work for commercial purposes should be negotiated directly between the authors and the third party.
      br
      | The Journal acknowledges the importance of data sharing and encourages authors to deposit their data in publicly accessible repositories. The Journal also requires that authors provide appropriate citations and acknowledge the sources of any data used in their work.
      br
      | The Journal will take appropriate measures to protect the intellectual property rights of authors, reviewers, and readers, and will investigate any allegations of plagiarism, copyright infringement, or other forms of intellectual property violation.

  h4.title-red Disclaimer
  p.base-text The responsibility for the content of each article published in this Journal rests solely with the respective author(s). The appearance of an article in this Journal does not imply endorsement by the Editors, Reviewers, Management, or IJMESS regarding the accuracy or sufficiency of the data presented, the validity of the conclusions drawn, or the adequacy of the experimental design or methodology.
    br
    | Due to the potential for human error by authors, editors, or publishers, no guarantee is made concerning the accuracy or completeness of the information contained in the articles. Neither the editors nor any other parties involved in the preparation of the work accept liability for any errors, omissions, or consequences arising from the use of such information. Readers are encouraged to verify the information with other sources.
    br
    | The views expressed in IJMESS represent those of the individual authors and contributors, and do not necessarily reflect the opinions of Creative Pharma Assent, the editors, the editorial board, IJMESS, or the authors' affiliated organizations.

