extends _layout

block main
  +breadCrump([{name:"Home", link:"/"}, {name:"Archive Policy", link:"/archive-policy"}])
  h2.title Archive and Preservation Policy

  p.base-text As a publisher in scholarly research, higher education and professional development, International Journal of Creative Research and Publications (IJCRP), recognizes its role and responsibility to submit the scholarly content. IJCRP is also committed to the preserve the content for generations to come
  p.base-text Keeping this in mind, content of IJCRP is continuously archived in CLOCKSS and LOCKSS to ensure that these contents are preserved for long term.

  ul(class="list-disc list-inside ml-5")
    li LOCKSS(Lots of copies keep stuff safe) 
      a(href="https://lockss.org" target="_blank", class="text-blue-500 hover:underline") lockss.org
    li CLOCKSS 
      a(href="https://clockss.org" target="_blank", class="text-blue-500 hover:underline") clockss.org

  p.base-text For information about the same please visit Publisher Manifest page of

  ul(class="list-disc list-inside ml-5")
    li 
      a(href="https://japtronline.com/index.php/IJCRP/gateway/lockss?year=2020" target="_blank", class="text-blue-500 hover:underline") LOCKSS
    li 
      a(href="https://japtronline.com/index.php/IJCRP/gateway/clockss" target="_blank", class="text-blue-500 hover:underline") CLOCKSS
  
  h4.title Abstracting/Indexing services
  p.base-text Our journal’s Abstracting/Indexing services store much essential information about the articles. Therefore, copies of the articles are available to the scientific community through their systems as an alternative to the journals own.