extends _layout

block main
  +breadCrump([{name:"Home", link:"/"}, {name:"Competing Interest", link:"/competing-interest"}])

  h2.title Competing Interests
  p.base-text It is mandatory for all the stakeholders (Authors, Reviewers, Editors, Journal Manager) of International Journal of Creative Research and Publications (IJCRP) to declare all potential conflict of interest. This is one of most important integral aspects of a transparent and unbiased record of scientific work. These disclosures present unbiased assessment of submissions and at the same time helps readers to have their own judgments regarding the manuscript and potential bias.
  p.base-text IJCRP do not reject papers simply because authors have declared a competing interest, however, these will be declared on the published paper.
  p.base-text A competing interest exists when professional judgment concerning a primary interest may be influenced by a secondary interest. Perceptions of conflict of interest are as important as actual conflicts of interest. IJCRP believes there is nothing inherently unethical about a competing interest but it should be acknowledged and openly stated.

  h3.title Authors
  p.base-text A conflict of interest occurs when professional conclusions regarding the complete and objective presentation of research are influenced or could be influenced by a secondary interest. Therefore, we require that our authors disclose such possible competing interests. Competing interests often arise with regard to financial matters. However, conflicts of interest can also be non-financial, professional, or personal and can exist in relation to institutions or individuals.
  p.base-text If there are no competing interests in their submitted manuscripts, authors should state so explicitly: "The authors declare that they have no conflict of interest." This statement should come prior to the acknowledgements.  
  p.base-text If there are possible conflicts of interest, authors must state what competing interests are relevant to the submitted work in Comments to Editor during submission process.  
  p.base-text According to the International Committee of Medical Journal Editors (ICMJE) uniform declaration of competing interests, authors should disclose four types of information:

  ul(class="list-disc list-outside pl-8")
    li Their associations with commercial entities that provided support for the work reported in the submitted manuscript (the time frame for disclosure in this section of the form is the lifespan of the work being reported).
    li Their associations with commercial entities that could be viewed as having an interest in the general area of the submitted manuscript (the time frame for disclosure in this section is the 36 months before submission of the manuscript).
    li Any similar financial associations involving their spouse or their children under 18 years of age.
    li Non-financial associations that may be relevant to the submitted manuscript.

  h3.title Editors, Reviewers & Journal Manager
  p.base-text A conflict of interest takes place when there is any interference with the objective decision making by an editor or objective peer review by the reviewer. Such secondary interests could be financial, personal, or in relation to any organization. If editors or referees encounter their own conflict of interest, they have to declare so and – if necessary – renounce their role in assessing the respective manuscript.  
  p.base-text Where there is a strong case (e.g. in small fields of science) for editors to use a referee to whom one or more of these cases apply, the editors should aim to obtain an objective review. They should also secure at least one review from a fully independent referee.
  p.base-text All authors must download and complete a copy of the 
    a(href="http://www.icmje.org/conflicts-of-interest/", target="_blank", class="text-blue-500 hover:underline") ICMJE COI disclosure form
    | and send a copy to the corresponding author. The corresponding author will be required to include a summary Competing Interests statement for all authors in the manuscript, which will be included in the published article. 