extends _layout

block main
  +breadCrump([{name:"Home", link:"/"}, {name:"Disclaimer", link:"/disclaimer"}])
  h2.title Disclaimer

  p.base-text The author(s) of each article appearing in this Journal is/are solely responsible for the content thereof; the publication of an article shall not constitute or be deemed to constitute any representation by the Editors, Reviewers, Management, IJCRP that the data presented therein are correct or sufficient to support the conclusions reached or that the experiment design or methodology is adequate.
  p.base-text However, in view of the possibility of human error by the authors, editors, or publisher, nor any other who has been involved in the preparation of the work warrants that the information contained herein in every aspect accurate or complete, and they are not responsible for any errors or omissions or the results obtained from the use of such information. Readers are advised to confirm the information contained herein with other sources.
  p.base-text The opinions expressed in IJCRP are those of the authors and contributors, and do not necessarily reflect those of the Creative Pharma Assent, the editors, the editorial board, IJCRP or the organization to which the authors are affiliated.
