extends _layout

block main
  img.absolute.top-0.left-0.w-fit(src="/images/homepage.jpg", alt="All professions linked like how gears works")
  
  .mt-96

  h2.title About the Journal
  p.base-text International Journal of Creative Research and Publications (IJCRP) is an international, peer-reviewed, multidisciplinary research journal committed to the dissemination of high-quality original research, review papers, case studies, and scholarly articles across diverse academic disciplines. The journal serves as a global platform for researchers, academicians, professionals, and scholars to share innovative ideas, critical insights, and creative research outcomes.
    br
    | IJCRP aims to promote intellectual exchange and interdisciplinary dialogue by publishing research that addresses contemporary issues, emerging trends, and real-world challenges. The journal encourages original contributions that advance knowledge, integrate theory with practice, and contribute meaningfully to academic and professional communities worldwide.
    br
    | Published exclusively in online mode, IJCRP ensures rapid dissemination, global accessibility, and academic visibility while maintaining strict ethical standards and a rigorous double-blind peer-review process to uphold research integrity and publication quality.

  h4.title Brief Information about IJMESS
  ul(class="list-disc ml-10")
    li 
      strong Journal Title: 
      span.base-text.text-start International Journal of Creative Research and Publications
    li 
      strong Journal Abbreviation: 
      span.base-text.text-start International Journal of Creative li Int. J. Creative Res. & Publ.
    li 
      strong Publishing Frequency: 
      span.base-text.text-start Monthly (12 Issues per Year)
    li 
      strong Publication Mode: 
      span.base-text.text-start Online Only
    li 
      strong Language: 
      span.base-text.text-start Multilingual (All Subjects)
    li 
      strong Review Process: 
      span.base-text.text-start Double-Blind Peer Review
    li 
      strong Editorial Board: 
      a(href="#", class="text-blue-400 hover:underline")  Click Here
    li 
      strong E-mail: 
      span.base-text.text-start editor.jcrp@gmail.com
    li 
      strong Website: 
      span.base-text.text-start www.jcrp.in
    li 
      strong e-ISSN: 
      span.base-text.text-start Applied

  h3.title Aim and Scope
  p.base-text The International Journal of Creative Research and Publications (IJCRP) is dedicated to advancing scholarly knowledge and promoting multidisciplinary research across a wide spectrum of academic disciplines. The journal provides an inclusive platform for creative, analytical, and empirical research that contributes to theoretical development, practical applications, and societal advancement.

  h2.title Areas Covered (but not limited to):

  h4.title Social Sciences, Arts & Humanities
  p.base-text Anthropology, Archaeology, History, Geography, Geology, Law, Political Science, Governance, Public Administration, Philosophy, Sociology, Civics, Demography, Economics, Journalism, Media Studies, Performing Arts, Visual Arts, Fine Arts, Culture Studies, Development Studies.

  h4.title Education & Allied Studies
  p.base-text Education, Special Education, Physical Education, Teacher Education, Linguistics, Literature, Language Studies, Yogic Studies, Sports Studies, Rehabilitation Studies, Home Science.

  h4.title Management & Commerce
  p.base-text Business Administration, Management Studies, Commerce, Finance, Accounting, Economics, Human Resource Management, Marketing, Sales, Operations Management, Information Management, Organisational Behaviour, Organisational Strategy, Business Law, Entrepreneurship, Hospitality and Hotel Management.

  h4.title Science
  p.base-text Logic, Mathematics, Statistics, Physics, Chemistry, Biology, Earth Science, Environmental Science, Soil Science, Plant Science, Ecology, Space Science, Biochemistry, Microbiology, Biotechnology, Life Sciences, Astronomy, Zoology, Entomology, Agriculture, Dairy Science.

  h4.title Engineering & Technology
  p.base-text Civil Engineering, Mechanical Engineering, Electrical Engineering, Electronics Engineering, Computer Science, Information Technology, Artificial Intelligence, Data Science, Emerging Technologies.

  h4.title Health & Medical Sciences
  p.base-text Hospital Administration, Nutrition, Medicine, Pharmacy, Pharmaceutics, AYUSH (Ayurveda, Unani, Siddha, Homeopathy), Forensic Medicine, Dermatology, Orthopedics, Dentistry, Oral Surgery, Obstetrics and Gynecology, Pediatrics, Oncology, Radiology, Clinical Medicine, Tropical Medicine, Parasitology, Infectious Diseases, Biomedical Sciences, Medical Biotechnology, Immunology, Diagnostics Imaging, Cardiology, Toxicology, Veterinary Science, Animal Husbandry.

  h4.title Languages
  p.base-text All Indian and Foreign Languages


  h3.title Editorial Board:
  p.base-text We are confident that the expertise, academic excellence, and professional guidance of our Editorial Board will significantly contribute to the continued success and scholarly impact of IJCRP. The Editorial Board comprises experienced academicians, researchers, and subject experts from diverse disciplines who ensure the maintenance of high academic standards, ethical publishing practices, and the publication of quality research. Their active involvement strengthens the journal's commitment to publishing research that addresses contemporary challenges and drives progress in both theory and practice. (
    a(href="#", class="text-blue-500 hover:underline") Click Here 
    |)


  h3.title Submission Guidelines:
  p.base-text Authors are invited to submit original, unpublished manuscripts that are not under consideration elsewhere. For manuscript submission procedures, formatting requirements, ethical policies, and further details, authors are requested to visit the (
    a(href="#", class="text-blue-500 hover:underline") Author Instructions
    |) page available on the journal's website. Detailed submission guidelines and manuscript preparation instructions are provided to ensure transparency, uniformity, and smooth processing of submissions.(
    a(href="#", class="text-blue-500 hover:underline") Author Instructions
    |)


  h3.title Readership:
  p.base-text IJCRP caters to a wide readership, including researchers, academicians, scholars, students, policymakers, industry professionals, and practitioners across multiple disciplines. We highly value the contributions of our readership and remain committed to delivering impactful, relevant, and high-quality scholarly content that fosters academic growth, innovation, and interdisciplinary understanding.

  h3.title Current Issue
  p.base-text Vol. 2 No. 1 (2026)

  h5.title Articles