extends _layout

block main
  +breadCrump([{name:"Home", link:"/"}, {name:"Librarians", link:"/librarians"}])
  h2.title Information For Librarians
  p.base-text We encourage research librarians to list this journal among their library's electronic journal holdings. As well, it may be worth noting that this journal's open source publishing system is suitable for libraries to host for their faculty members to use with journals they are involved in editing (see 
    a(href="http://pkp.sfu.ca/ojs", class="text-blue-500 hover:underline") Open Journal Systems
    |).
