extends _layout

block main
  +breadCrump([{name:"Home", link:"/"}, {name:"Open Access", link:"/open-access"}])

  h3.title Open Access Policy
  p.base-text International Journal of Creative Research and Publications (IJCRP) is an open access peer reviewed journal. All the manuscripts published, after peer review by IJCRP, are freely available to readers. These accepted manuscripts are available for public viewing without any restriction or registration.

  p.base-text 
    strong The copyright of publishing remains with authors 
    | and they are free to redistribute manuscript without any restriction. The readers can access these manuscript and frame their research or academic work.

  p.base-text An individual (e.g. author, reader, reviewer, editor, any other person) can read, download, copy, distribute, print, search, or link to the full texts of these articles or use them for any other lawful purpose.

  p.base-textIn order to meet the expenses incurred in maintenance of website, editorial workflow etc, authors need to pay Article Processing Charge (APC). However, APC is to paid only after acceptance of manuscript after rigorous peer review.

  p.base-text International Journal of Creative Research and Publications (IJCRP) do not want fees to prevent the publication of worthy work. IJCRP also maintains a fund to waive the fee for authors in developing parts of the world whose university or institute is unable to pay, or who have not received sufficient financial support from funding agencies.

  p.base-text IJCRP strongly recommend and support Open access to every resources of knowledge. We also follow the open access policy of Open Access Scholarly Publishers Association (OASPA), DOAJ and Budapest Open Access Initiative

  a(href="https://oaspa.org/information-resources/openaccessresources/", target="_blank", class="link block") https://oaspa.org/information-resources/openaccessresources/

  a(href="https://pkp.sfu.ca/ojs/", target="_blank", class="link block") https://pkp.sfu.ca/ojs/

  a(href="https://www.doaj.org/", target="_blank", class="link block") https://www.doaj.org/

  a(href="http://oad.simmons.edu/oadwiki/Main_Page", target="_blank", class="link block") http://oad.simmons.edu/oadwiki/Main_Page

  a(href="https://www.budapestopenaccessinitiative.org/", target="_blank", class="link block") https://www.budapestopenaccessinitiative.org/