extends _layout

block main
  +breadCrump([{name:"Home", link:"/"}, {name:"Plagiarism Policy", link:"/plagiarism-policy"}])
  h2.title Plagiarism Policy

  p.base-text "Plagiarism" is the use of others' published and unpublished ideas or words (or other intellectual property) without attribution or permission, and presenting them as new and original rather than derived from an existing source. The intent and effect of plagiarism is to mislead the reader as to the contributions of the plagiarizer. This applies whether the ideas or words are taken from abstracts, research grant applications, Institutional Review Board applications, or unpublished or published manuscripts in any publication format. Plagiarism is scientific misconduct and should be addressed as such.

  p.base-text Self-plagiarism refers to the practice of an author using portions of their previous writings on the same topic in another of their publications, without specifically citing it formally in quotes. This practice is widespread and sometimes unintentional, as there are only so many ways to say the same thing on many occasions, particularly when writing the methods section of an article. Although this usually violates the copyright that has been assigned to the publisher, there is no consensus as to whether this is a form of scientific misconduct, or how many of one's own words one can sue before it is truly "plagiarism." Probably for this reason self-plagiarism is not regarded in the same light as plagiarism of ideas and words of other individuals. If journals have developed a policy on this matter, it should be clearly stated for authors."

  p.base-text Direct plagiarism is the plagiarism of the text. Mosaic plagiarism is the borrowing of ideas and opinions from an original source and a few verbatim words or phrases without crediting the author. 

  p.base-text Authors can adhere to the following steps to report plagiarism:

  ol(class="list-decimal list-outside ml-5")
    li Inform the editor of the journal where a plagiarized article is published.
    li Send original and plagiarized articles with plagiarized part highlighted.
    li If evidence of plagiarism is convincing, editor should arrange for a disciplinary meeting.
    li Editor of the journal where the plagiarized article should communicate with the editor of the journal containing the original article to rectify the matter.
    li The plagiarist should be asked to provide an explanation.
    li In case of non response in the stipulated time or an unsatisfactory explanation, the article should be permanently retracted.
    li Author should be blacklisted and debarred for submitted an article to a particular journal for at least 6 months.
    li The concerned head of the institution has to be notified.