extends _layout

block main
  h2.title About Publisher
  p.base-text Creative Pharma Assent (CPA) is Open Access publisher and follows Open Journal System (OJS) platform for managing and publishing manuscripts. CPA believes in the publication of exciting research regarding the issues related to our Journals and to accomplish rapid review and publication of articles and circulate the same freely for the scientific fraternity. We publish all original research articles and these articles are freely accessible online to everyone. We do not transfer copyright of the published manuscript to ourselves, rather, those are retained by authors. The published articles are licensed under the Creative Commons Attribution License. This license allows others to remix, tweak and build upon the articles and re-used and re-distributed them without any restriction, however, the articles are to be cited. This in return helps authors to increase their citation index. CPA invites and encourages the scientific fraternity to go through the journal's details and submit their work that deemed fit for individual journals.

  a(href="https://www.cpharmaassent.com/", class="text-blue-500 hover:text-blue-700 hover:underline") visit us
