extends _layout

block main
  +breadCrump([{name:"Home", link:"/"}, {name:"Reference Management", link:"/reference-management"}])
  h2.title Reference Management
  p.base-text effective reference management is crucial for maintaining the credibility and integrity of academic research. The International Journal of Management, Engineering and Social Sciences (IJMESS) adheres to the following guidelines to ensure accurate and consistent citation practices within submitted manuscripts:

  ol(class="list-decimal list-inside flex flex-col gap-6")
    li
      strong Reference Style
      ul(class="list-disc list-inside")
        li.pl-10
          strong Citation Format: 
          span(class="text-base/7") Authors are required to use the journal’s prescribed citation style for formatting references. Specific guidelines for citation and referencing style can be found on the journal’s author instruction page. IJMESS follows the Vancouver style.
        li.pl-10
          strong Consistency: 
          span(class="text-base/7") References must be consistent throughout the manuscript. Authors should ensure that all citations and references are formatted uniformly according to the journal's style guide.
    li
      strong In-Text Citations
      ul(class="list-disc list-inside")
        li.pl-10
          strong Placement: 
          span(class="text-base/7") All references cited in the manuscript should appear as in-text citations within the body of the text. In-text citations should be placed where the source information is discussed, providing immediate credit to the original authors.
        li.pl-10
          strong Formatting: 
          span(class="text-base/7") The format for in-text citations will vary depending on the chosen citation style. Authors must follow the style guidelines precisely to ensure proper formatting.
    li
      strong Reference List
      ul(class="list-disc list-inside")
        li.pl-10
          strong Completeness: 
          span(class="text-base/7") A comprehensive list of all references cited in the manuscript must be included at the end of the document. This list should include all relevant details, such as author names, publication year, title, journal name, volume, issue number, and page numbers, as required by the citation style.
        li.pl-10
          strong Order: 
          span(class="text-base/7") References should be organized according to the citation style guidelines. Common arrangements include alphabetical order by author’s last name or numerical order based on the sequence of citations in the text.

  h4.title MENDELEY software
  p.base-text Mendeley is a free reference manager and academic social network that can help you to organize your research, collaborate with others online and discover the latest research. Mendeley is owned and managed by Elsevier [2]. Watch the video for more information about Mendeley: 
    br
    a(href="https://www.youtube.com/watch?v=9Xj8sQq2n5o" target="_blank", class="text-blue-500 hover:underline") https://www.youtube.com/watch?v=9Xj8sQq2n5o
  a.title-red(href=href="https://drive.google.com/file/d/1yRzfDjY0P4b0oWGCpWe2AyoZ4oms26Bi/view?usp=sharing", target="_blank", class="text-blue-500 hover:underline") Click here to download the tutorial to arrange reference of JOAPR using mendeley

  h4.title DOI to cite formatter
  p.base-text If author have DOI number of the article that is to be cited, then DOI to cite formatter tool can arrange the reference as per the need of JOAPR
  a.title-red(href="https://drive.google.com/file/d/1T0gVbB42d2h6KIUS6B5e9wsTYi1DFgAv/view?usp=sharing", target="_blank", class="text-blue-500 hover:underline") Click here to download the tutorial to arrange reference of JOAPR using DOI to cite formatter

  h4.title PMID2cite
  p.base-text 
    strong PMID 
    | is the unique identifier number used in PubMed. PMID is assigned to each article when it enters PubMed. PMID can be found by searching the article at pubmed website.
  a.title-red(href="https://drive.google.com/file/d/1kj5Mx1Sae87XuktuIhNP6REFLTxGG9Tj/view?usp=sharing", target="_blank", class="text-blue-500 hover:underline") Click here to download the tutorial to arrange reference of JOAPR using PMID2cite.com

  h4.title Reference:
  ol(class="list-decimal list-inside flex flex-col gap-6")
    li
      a(href="https://en.wikipedia.org/wiki/Reference_management_software", class="text-blue-500 hover:underline") https://en.wikipedia.org/wiki/Reference_management_software
    li
      a(href="https://www.mendeley.com", class="text-blue-500 hover:underline") https://www.mendeley.com