extends _layout

block main
  +breadCrump([{name:"Home", link:"/"}, {name:"Review Policy", link:"/review-policy"}])
  
  h2.title Review Policy
  h4.title-red The peer review process at the International Journal of Creative Research and Publications (IJCRP) is designed to ensure the quality and integrity of the research we publish.

  ul(class="flex flex-col gap-6")
    li
      strong Stage 1: Submission
      p
        strong Manuscript Format: 
        | Authors must submit their manuscript in MS Word format (.doc or .docx). The submission should include all relevant sections, such as title, abstract, introduction, methodology, results, discussion, and references.

    li
      strong Stage 2: Initial Evaluation
      p
        strong Editorial Review: 
        | Upon receipt, the manuscript will undergo an initial examination by the professional editorial committee to assess its alignment with the journal's scope and basic quality standards. This review determines if the manuscript meets the submission criteria for further review.

    li
      strong Stage 3: Manuscript Reference Number
      p
        strong Assignment of Reference Number: 
        | Once the manuscript passes the initial evaluation, the IJCRP will assign a unique manuscript reference number. This number will be used for tracking the manuscript throughout the review process.

    li
      strong Stage 4: Peer Review
      p
        strong Review Assignment: 
        | The manuscript will be forwarded to qualified reviewers or the editorial board members for a detailed peer review. Reviewers are selected based on their expertise in the subject matter of the manuscript.
      p
        strong Review Process:  
        | Reviewers will assess the manuscript for its originality, significance, methodology, results, and adherence to ethical standards. They will provide detailed feedback and recommendations for improvement.

    li
      strong Stage 5: Feedback and Revisions
      p
        strong Reviewer Comments: 
        | The manuscript, along with the reviewers' comments and feedback, will be sent to the authors. Authors are expected to address the feedback and revise their manuscript accordingly.

    li
      strong Stage 6: Revised Manuscript Submission
      p
        strong Resubmission: 
        | Authors must submit a revised version of the manuscript that incorporates the reviewers' feedback and improves the manuscript quality. The revised manuscript should include a response to reviewers' comments.

    li
      strong Stage 7: Final Review and Approval
      p
        strong Review of Revisions: 
        | The revised manuscript will be re-evaluated by the reviewers or the editorial board to ensure that all concerns have been addressed. If the revisions are satisfactory, the manuscript will be approved for publication.

  h3.title Additional Considerations
  ul(class="list-disc list-inside")
    li
      strong Confidentiality: 
      | Throughout the review process, all materials and communications are treated as confidential. Reviewers and editorial staff are required to maintain confidentiality and avoid disclosing any information about the manuscript.

    li
      strong Ethical Standards: 
      | TAll parties involved in the review process must adhere to the journal's ethical standards, ensuring fair and unbiased evaluations.


