extends _layout

block main
  +breadCrump([{name:"Home", link:"/"}, {name:"Reviewers Guidelines", link:"/reviewers-guidelines"}])

  h2.title Reviewer's Guidelines
  p.base-test
    strong Peer review  
    | is done to improve the quality of the manuscript under review. Though peer review is time consuming task, but it is very essential to assure the quality of scientific journal and manuscripts published therein. Journal of Applied Pharmaceutical Research is very grateful and acknowledge the time and efforts invested by Reviewer in review process.
  
  p.base-text The reviewer is bestowed with responsibility of critically reading and evaluating the manuscript in hand. They are encouraged to provide respectful, constructive, and honest feedback to authors about their manuscript. It this process of peer reviewing, Reviewers are requested to comment in a way that encourages authors to improve the strength and quality of the work.

  p.base-text Journal of Applied Pharmaceutical Research uses a wide range of sources to identify potential reviewers. The sources include the members of editorial board, their contacts, scientific work available in public domains, personal contacts, bibliographic databases, potential reviewers as suggested by Authors. Reviewers’ assessment and their comments play a major major role in decision regarding acceptance or rejection of manuscripts

  h4.title Reviewers’ must consider following points while accepting and reviewing manuscript
  ul(class="list-disc list-outside ml-5")
    li Reviews must be conducted fairly and objectively
    li Reviewers must always avoid personal criticism of author.
    li Criticism should always be objective and a possible way out be suggested by Reviewer.
    li Reviewer must always hide their identity. They must avoid any clue that can reveal their identity
    li Reviewer must decline the offer to peer review if any conflicting interest arises
    li They must maintain confidentiality of the manuscript and the process as a whole
    li Reviewer needs to fill a form during peer review of manuscript
    li Reviewer can also comment or write to editor

  h4.title Reviewers are requested to consider following points in reviewing any manuscript
  ul(class="list-disc list-outside ml-5")
    li Is the topic of the manuscript significant and appropriate for the Journal?
    li Does the manuscript comply with the Instructions for Authors?
    li Do the title, abstract, key words, introduction, and conclusions reflect the core issues of manuscript?
    li Is the manuscript is well written and free of major grammatical errors?
    li Is the aim clearly stated and methodologies were followed accordingly?
    li Is the research ethical and is having appropriate consents from patients, boards or governments whichever is applicable?
    li Is the results obtained were statistically analyzed and conclusion drawn as per statistical principles and interpretation?
    li Is there any clue about manipulation in data or biasness in drawing conclusion?
    li Are all tables and figures clearly labeled, self descriptive, understandable by users and utmost necessary?
    li Are conclusions supported with facts and data?
    li Are the references cited appropriate to support the manuscript? Are references cited follow the reference style of Journal? Is any landmark work or citation missing in the manuscript?

  p.base-text Download COPE Guidelines for your reference 
    a(href="https://publicationethics.org/files/Ethical_Guidelines_For_Peer_Reviewers_1.pdf", target="_blank", class="text-blue-500 hover:underline") COPE Guidelines for Peer Reviewers

