extends _layout

block main
  +breadCrump([{name:"Home", link:"/"}, {name:"Scope", link:"/scope"}])

  h3.title Focus & Scope of the Journal
  p.base-text International Journal of Creative Research and Publications (IJCRP) publishes original research paper, review papers, short communication in multiple disciplines of Pharmaceutical Sciences. IJCRP is completely devoted towards publications related to Pharmaceutical science. IJCRP also includes evaluation of pharmaceutical excipients & their practical application to research & industry based efforts. The aim of the scientific journal, IJCRP is to present a wide area for the current researchers to share their noble works and ideas.  There is no bar on the length of the papers. Full experimental details are expected from authors so that the results can be reproduced.

  h4.title-blue Subject areas:

  p.base-test
    em Pharmaceutics, Biopharmaceutics & Pharmacokinetics
  p.base-text 
    em Pharmaceutical/Medicinal Chemistry, Pharmaceutical Analysis
  p.base-text 
    em Computational Chemistry and Molecular Drug Design
  p.base-text 
    em Pharmacognosy and Phytochemistry
  p.base-text 
    em Herbal drugs/ formulations
  p.base-text 
    em Pharmacology, Pharmacy Practice, Clinical & Hospital Pharmacy, Clinical studies in human