section#title(class="px-8 py-6 bg-blue-200 font-bold text-lg text-slate-800 flex justify-between items-center flex-wrap lg:flex-nowrap gap-4")
  div IJCPR
  div
    h1
      a(href="/") #{"International Journal of Creative Research and Publications (IJCRP)".toUpperCase()}
    a(href="mailto:editor.jcrp@gmail.com", class="hover:text-blue-700 text-blue-500 transition-all hover:underline text-base font-medium") editor.jcrp@gmail.com

  //-.flex.gap-4.font-semibold.text-base
    a(href="/register", class="hover:text-blue-700 transition-all hover:underline") Register
    a(href="/login", class="hover:text-blue-700 transition-all hover:underline") Login