/* stylelint-disable at-rule-no-unknown */ /* allow Tailwind directives such as @apply */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.font-nata-sans {
  font-family: "Nata Sans", sans-serif;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}

@layer components {
  .glow-text {
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      /* White glow with a small blur */ 0 0 10px #0ff,
      /* Cyan glow with medium blur */ 0 0 20px #0ff,
      0 0 30px #0ff; /* Wider cyan glow layers */
  }

  #sidePannel {
    @apply flex flex-col gap-6;
  }
  #sidePannel > h2 {
    @apply text-blue-900 text-sm font-bold mt-14;
  }
  #sidePannel > p {
    @apply text-slate-800 text-justify text-sm/6;
  }
  #sidePannel > strong {
    @apply text-slate-800 text-justify text-sm/6;
  }
  #sidePannel > strong.mod {
    @apply mt-2 text-red-800 font-bold;
  }
  #sidePannel > h3 {
    @apply text-slate-800 font-semibold text-2xl/6;
  }

  #sidePannel > ul {
    @apply flex flex-col gap-2;
  }

  #sidePannel > ul > li {
    @apply text-slate-800 text-justify text-sm;
  }

  #sidePannel > h4 {
    @apply text-blue-900 text-sm font-bold;
  }

  #sidePannel > .links {
    @apply flex flex-col gap-2;
  }

  #sidePannel > .links > a {
    @apply text-red-700 text-justify text-sm font-semibold;
  }

  #sidePannel > a {
    @apply text-blue-900 text-sm font-bold hover:underline underline-offset-2;
  }

  #sidePannel > p.mod {
    @apply text-red-700 text-justify text-sm font-semibold;
  }

  #sidePannel > h5 {
    @apply border-b-4 w-fit border-amber-400 py-2 text-gray-500 text-base font-bold tracking-wider uppercase;
  }

  #sidePannel > a.link {
    @apply text-blue-500 hover:underline font-normal hover:text-blue-600;
  }

  #sidePannel > a.btn {
    @apply font-semibold text-sm underline-offset-2 hover:underline rounded-xl px-4 py-2 hover:text-slate-100 text-slate-700 hover:from-cyan-500 hover:to-blue-500 from-yellow-500 to-amber-500 transition-colors bg-gradient-to-b text-center;
  }
}

@layer components {
  h2.title {
    @apply text-slate-800 my-5 font-bold text-xl tracking-wide;
  }

  h3.title {
    @apply text-slate-800 my-5 font-bold text-lg tracking-wide;
  }

  h3.title-red {
    @apply text-red-700 my-5 font-bold text-lg tracking-wide uppercase;
  }

  h4.title {
    @apply text-slate-800 my-5 font-bold text-base tracking-wide;
  }

  h4.title-blue {
    @apply text-blue-700 my-5 font-bold text-base tracking-wide;
  }

  h4.title-red {
    @apply text-red-700 my-5 font-bold text-base tracking-wide text-justify;
  }

  span.base-text,
  p.base-text {
    @apply text-slate-800 my-5 text-justify;
  }

  h5.title {
    @apply border-b-4 w-fit border-amber-400 py-2 text-gray-500 text-base font-bold tracking-wider uppercase;
  }
}
